<template>
  <div class="list">
    <ContactList msg="Welcome to Contact List"/>
  </div>
</template>

<script>
// @ is an alias to /src
import ContactList from '@/components/ContactList.vue'

export default {
  name: 'contactlist',
  components: {
    ContactList
  }
}
</script>
