<template>
  <div class="hello">
    <div class="left">
    <h1> Add Contact</h1>

       <form @submit.prevent="addContact">
        <input class="contact-input" type="text" placeholder="Add a name" v-model="newContact.name" />
        <input class="contact-input" type="text" placeholder="Add a surname" v-model="newContact.surname" />
        <input class="contact-input" type="text" placeholder="Add a contact" v-model="newContact.number" />
       </form>
      </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  name: 'AddPage',
  data () {
    return {
      newContact: [
        { id: '',
          name: '',
          surname: '',
          number: ''
        }
      ]
    }
  },
  methods: {
    ...mapMutations([
      'ADD_CONTACT'
    ]),
    addContact: function () {
      this.ADD_CONTACT(this.newContact)
      this.newContact = ''
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

input {
  border: 1px solid black;
  padding: 20px;
  width: calc(100% - 40px);
  box-shadow: 0 tpx 5px lightgrey;
  margin-bottom: 50px;
  outline: none;
}
</style>
