<template>
  <div id= "contactlist">
    <div class="summary">
    <h3> ContactList </h3>
    </div>
    <hr>
    <div class="row" v-bind:key="contact in contactlist">
      <h4> {{ contact.name}} </h4>
      </div>
  </div>
</template>

<script>
export default {
  props: ['contactlist'],
  methods: {
    unContactAdd (contact) {
      this.$emit('contactuncontactadd', contact)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
