<template>
  <div class="contact-container">
  <div class="contact-box">
  <div>
    <h1>{{contact.name}}</h1>
    <h2>{{contact.surname}}</h2>
    <h2>{{contact.number}}</h2>
    </div>
    </div>
    <router-link to="/">Return</router-link>
  </div>
</template>

<script>
export default {
  computed: {
    contact () {
      // eslint-disable-next-line
      return this.$store.state.contacts.find(contact => contact.id == this.$route.params.id)
    }
  }
}
</script>

<style scoped lang="scss">
  .contact-container {
    .contact-box {
      border: 1px solid black;
      border-radius: 10px;
      margin: 10px;
      padding: 10px;;;

      text-align: left;

      display: flex;
      justify-content: flex-start;

      img {
        max-height: 150px;
        width: 150px;
        padding: 10px;
      }
    }
  }

  img {
    max-width: 50%;
  }
</style>
